{% extends "compartidos/base.html" %}
{% block title %}<title>Busqueda</title>{% endblock title %}
{% block h1_header %} 
Encontrá la inspiración
{% endblock h1_header %}
{% block boton %}{% endblock boton %}
{% block main_content %}
<form action="" >
    
    {{formulario.as_table}}
    <input type="submit" value="Buscar">
    
</form> 
<body>
    {% if libro_encontrado %}
    {% for libro in libro_encontrado %}
    <li>
       <a href={% url "objeto" libro.id %} {{libro | safe}} ></a>    <a class="navbar-brand" href= {% url "editar_libro" libro.id %}>Editar</a> <a class="navbar-brand" href= {% url "eliminar_libro" libro.id %}>Eliminar</a>
    </li>

    {% endfor %}
    
    {% else %}
        <p>No se encontró el libro</p>
    {% endif %}
</body>



{% endblock main_content %}
{% block buscar %}{% endblock buscar %}