{% extends "compartidos/base.html" %}
{% block title %}<title>Busqueda</title>{% endblock title %}
{% block h1_header %}
{% endblock h1_header %}
{% block boton %}{% endblock boton %}
{% block main_content %}
<form action="" >
    
    {{formulario.as_table}}
    <input type="submit" value="Buscar">
    
</form> 
<body>
    {% if usuario_encontrado %}
    {% for usuario in usuario_encontrado %}
    <li>
        {{usuario}}  || <a class="navbar-brand" href= {% url "editar" usuario.id %}>Editar</a> <a class="navbar-brand" href= {% url "eliminar" usuario.id %}>Eliminar</a>
    </li>

    {% endfor %}
    
    {% else %}
        <p>No se encontró el usuario</p>
    {% endif %}
</body>



{% endblock main_content %}
{% block buscar %}{% endblock buscar %}