{% extends "compartidos/base.html" %}
{% block title %}<title>Busqueda</title>{% endblock title %}
{% block h1_header %}
{% endblock h1_header %}
{% block boton %}{% endblock boton %}
{% block main_content %}
<form action="" >
    
    {{formulario.as_table}}
    <input type="submit" value="Buscar">
    
</form> 
<body>
    {% for usuario in usuario_encontrado %}
    <li>
        {{usuario}}
    </li>

    {% endfor %}
</body>



{% endblock main_content %}
{% block buscar %}{% endblock buscar %}