{% extends "compartidos/base.html" %}

{% block title %}<title>Inicio</title>{% endblock title %}
{% block h1_header %} 
Bienvenidos
{% endblock h1_header %}
{% block boton %}
<h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
<a class="btn btn-primary" href="/cuestionario">Dejá tu huella</a> 
<a class="btn btn-primary" href="/busqueda">Inspirate</a>
{% endblock boton %}

{% block boton_inicio %}
                        
                        {% if request.user.is_authenticated %}
                        
                        <a class="navbar-brand" href="cuenta/logout">Logout</a>
                        <a class="navbar-brand" href="cuenta/perfil/mi_perfil">{{request.user.username}}</a>
                        {% else  %}
                        
                        <a class="navbar-brand" href="cuenta/login">Login</a>
                        <a class="navbar-brand" href="cuenta/registro">Registrarse</a>

                        
                        {% endif %}
                        {% if  request.user.infoextra.avatar%}
                        <img src={{request.user.infoextra.avatar.url}} alt="" height="50px">
                        {% endif %}
                        
                        
                        
                       
{% endblock boton_inicio %}
