{% extends "compartidos/base.html" %}

{% block title %}<title>Inicio</title>{% endblock title %}
{% block h1_header %} 
La huella literaria
{% endblock h1_header %}
{% block boton %} <h2 class="text-white-50 mx-auto mt-2 mb-5">Los libros nos inspiran, las frases nos motivan</h2>{% endblock boton %}
{% block boton_inicio %}
                        
                        {% if request.user.is_authenticated %}
                        <a class="navbar-brand" href="cuenta/logout">Logout</a>
                        <a class="navbar-brand" href="cuenta/perfil/editar">{{request.user.username}}</a>
                        {% else  %}
                        <a class="navbar-brand" href="cuenta/login">Login</a>
                        <a class="navbar-brand" href="cuenta/registro">Registrarse</a>
                        {% endif %}
                        <a class="navbar-brand" href="/editar"></a>
{% endblock boton_inicio %}