{% extends "compartidos/base.html" %}

{% block title %}<title>Acerca de mí</title>{% endblock title %}
{% block h1_header %} 
<h1 class="text-white-50 mx-auto mt-2 mb-5">Acerca de mí</h1>
{% endblock h1_header %}
{% block boton %}
<h2 class="text-white-50 mx-auto mt-2 mb-5">Mi nombre es Agustín Rizzo y hace un tiempo me decidí a dar mis primeros pasos en el mundo de la programación para intentar acceder a otro estilo de vida, más flexibe, libre y moderno. A veces no se necesita mucho para disparar un cambio en la vida. A veces solo basta con una buena frase que nos inspire. Esto es lo que me motivo a diseñar este blog, que representa un epacio para que otras personas puedan encontrar la chispa que inspire su cambio.</h2>
{% endblock boton %}

