{% extends "compartidos/base.html" %}
{% block title %}<title>editar perfil</title>{% endblock title %}
{% block h1_header %}
Editar perfil
{% endblock h1_header %}
{% block boton %}
{% endblock boton %}

{% block main_content %}
<form action="{% url "editar_perfil" %}" method ="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    {{formulario}}
    </table>
    <input type="submit" value="editar perfil">
</form> 
<a href={% url "editar_pass" %}>Cambiar contraseña</a>
{% endblock main_content %}
{% block buscar %}{% endblock buscar %}